@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.promotion__text{
    width: 100%; 
    display: flex;
    justify-content: center;
    padding-top:140px;
}
.promotion__descr{
    font-size:50px;
    font-weight:900;
    color: white;
    background-color: rgba(39, 37, 37, 0.897);
    width: 900px;height: 70px;
    text-align: center;
    margin: auto;
}
.promotion__timer{
    width:550px;
    margin: auto;
    background-image: url(../img/8.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.promotion__timer .timer{
    margin-top:60px;
    display:flex;
    justify-content:space-around;
    padding-top: 15px;
    padding-bottom: 15px;}    
.promotion__timer .timer__block{
    width:102px;
    height:120px;
    background:#fff;    
    font-size:16px;
    font-weight:300;
    text-align:center;
    padding-bottom: 8px;
}
.promotion__timer .timer__block span{
    display:block;
    margin-top:20px;
    margin-bottom:5px;
    font-size:56px;
    font-weight:700
}
.container{
    background-image: url(../img/c5583bac27ee756f96d308b37e697347f5c8036f.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 100vh;
}
#audio-btn {
    width: 85px;
    height: 85px;   
    position: absolute;
    background-image: url(../img/play-button.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: 100%;
    top: 110px;
    right: 100px;
    border: 1px solid #e2a63b;}
#close-btn {
    width: 85px;
    height: 85px;
    position: absolute;
    background-image: url(../img/pause.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: 100%;
    display: none;
    top: 110px;
    right: 100px;
    border: 1px solid #b90000;
}
.music__container{
    font-size:25px;
    line-height: 1em;
    font-weight:900;
    color: rgb(249, 252, 248);
    width: 180px;
    height: 180px;
    text-align: center;
    display: block;
    border-radius: 100%;
    position: absolute;
    right: 117px;
    bottom: 117px;   
}
.music__container :hover {
    cursor: pointer;
}
.music{
    border-radius: 100%;
    width: 300px;height: 300px; 
    background-image: url(../img/christmas_PNG3774.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; 
    position: relative;
}
.music__text{ 
   
    position: relative; 
    padding-top: 10px;  
    top: 90px;
}
